:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --cards-width: 240px;
  --cards-width-phone: 40px;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
/* -------------------------------------------------------------------------------------- */
/* header of the document  */
header .menu-logo{
  width: 40px;
  margin: 3px;
  display: none;
}
header .logo {
  width: 150px;
  margin: 8px;
}
.bar-nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
header .menu-navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}
header .menu-navigation li {
  padding: 3px;
  color: var(--very-light-pink);
  font-size: var(--lg);
}
header .menu-navigation li:hover {
  border: solid 1px var(--hospital-green);
  border-radius: 12px;
  color: var(--hospital-green);
  cursor: pointer;
}
header .cart-container {
  display: flex;
  align-items: center;
  justify-self: end;
}
header .cart-container a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--hospital-green);
}
header .button-menu {
  border: none;
  background: none;
  text-decoration: none;
  color: var(--hospital-green);
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}
header .dropdown {
  position: relative;
  margin-right: 20px;
}
header .dropdown-menu {
  background-color: white;
  border: solid var(--very-light-pink) 1px;
  border-radius: 4px;
  width: 100px;
  height: auto;
  margin-right: 10px;
  padding: 20px;
  position: absolute;
  top: calc(100% + 1.2rem);
  left: 15px;
  display: none;
  flex-direction: column;
}
header .cart-container:hover .dropdown-menu{
  display: flex;
}
header .dropdown-menu a {
  margin-bottom: 20px;
  text-align: end;
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
}
header .dropdown-menu span {
  color: var(--hospital-green);
  margin-top: 14px;
  padding-top: 14px;
  border-top: solid 1px var(--very-light-pink);
  text-align: end;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------- */
/* body of the document  */
body .cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 25px;
  place-content: center;
  padding-top: 75px;
  border-top: solid 1px var(--very-light-pink);
}
body .product-card {
  width: var(--cards-width);
}
body .product-card img {
  width: var(--cards-width);
  height: var(--cards-width);
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
body .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
body .product-info figure {
  margin: 0;
}
body .product-info figure img {
  width: 64px;
  height: 64px;
}
body .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
body .product-info div p:nth-child(2) {
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

@media (max-width: 840px) {
  header .menu-logo{
    display: block;
  }
  header .menu-navigation {
    display: none;
  }
  body .cards-container {
    grid-template-columns: repeat(auto-fill, 180px);
  }
  body .product-card {
    width: 180px;
  }
  body .product-card img {
    width: 180px;
    height: 180px;
  }
  body .dropdown{
    display: none;
  }
}